@charset "utf-8";

/**** basic ****/
body { margin:0; font-family:'Noto Sans KR',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; letter-spacing:-1px; text-align:center; line-height:1.5; }
ul, li { margin:0; padding:0; list-style:none; }
a { color:#000; text-decoration:none; }
p { margin:0; }
h2 { margin:0; font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:700;}

::selection { background-color:#0063e6; color:#fff; }
::-moz-selection { background-color:#0063e6; color:#fff; }
::-webkit-selection { background-color:#0063e6; color:#fff; }


/**** mobile ****/
/*** container ***/
.container { position:relative; }

    /** header **/
    .container header { background-color:rgba(255, 255, 255, 0.8); width:100%; height:50px; padding:5px 10px; box-sizing:border-box; position:fixed; top:0; z-index:99; }
        .container header h1 { width:40px; height:36px; margin:0; }
            .container header h1 a, .container header h1 a img { display:block; width:100%; height:100%; }

        
        .container header .nav_PC { display:none; width:100%; background-color:rgba(255, 255, 255, 0.5); position:absolute; top:50px; left:0; z-index:999; }
            .container header .nav_PC li a { display:block; width:100%; padding:10px; box-sizing:border-box; font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:500; font-size:15px; }

        .container header .lang { display:none; }
        .container header .mobile_btn { width:20px; height:20px; background:url(../images/menu.png) no-repeat 50% 50%; background-size:cover; position:absolute; top:50%; right:10px; transform:translateY(-50%); }

    /** mobile navigation **/
    .container nav { width:100%; background-color:#0063e6; position:fixed; top:0; left:0; padding:20px; box-sizing:border-box; z-index:-1; opacity:0; transition:0.5s; }
    .container nav.show { z-index:999; opacity:1; }
        .container nav div { position:absolute; top:15px; right:10px; }
            .container nav div img { width:20px; height:20px; }

        .container nav ul { width:100%; margin-top:30px; text-align:left; }
            .container nav ul li { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:600; font-size:20px; margin-bottom:30px; }
                .container nav ul li a { color:#fff; }

/** main **/
.container .main { width:100%; }
    .container .main section p { font-size:14px; }
    .container .main section .hidden { display:none; }
        .container .main section p span { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:500; }

    /* main image */
    .container .main .main_img { width:100%; height:447px; background:url(../images/sub_main.jpg) no-repeat 50% 50%; background-size:cover; display:flex; justify-content:center; align-items:center; }
        .container .main .main_img h2 { font-size:35px; color:#fff; background:url(../images/underline.png) no-repeat 0 100%; line-height:1.5; }

    /* main txt */
    .container .main .txt1 { padding:86px 30px 78px; box-sizing:border-box; background:url(../images/line.png) no-repeat 50% 100%; background-size:34px; }
        .container .main .txt1 h2 { color:#0063e6; background:url(../images/sub_h2.png) no-repeat 50% 0; background-size:313px; font-size:23px; margin-bottom:70px; }
        .container .main .txt1 > p { margin-bottom:30px; }
        .container .main .txt1 > p:nth-of-type(3) { margin-bottom:0; }

        .container .main .txt1 .goal { margin:70px 0; }
            .container .main .txt1 .goal > div { display:flex; flex-direction:column; justify-content:center; align-items:center; margin:0 auto; width:180px; height:180px; border-radius:50%; border:1px solid #0063e6; }
                .container .main .txt1 .goal > div p:first-of-type { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:500; font-size:15px; }
                .container .main .txt1 .goal > div p:last-of-type { font-size:13px; }
            .container .main .txt1 .goal .act, .container .main .txt1 .goal .improve { margin-top:-30px; }
                .container .main .txt1 .goal .improve p:first-of-type { margin-top:15px; }
                .container .main .txt1 .goal .improve .hidden { display:none; }

            .container .main .txt1 .goal > img { display:none; }

    .container .main .txt2 { padding:78px 30px; box-sizing:border-box; background:url(../images/line.png) no-repeat 50% 100%; background-size:34px; }
        .container .main .txt2 p { margin-bottom:78px; }
        .container .main .txt2 p:nth-of-type(3) { margin-bottom:0; }

    .container .main .txt3 { padding:78px 30px 86px; box-sizing:border-box; }
        .container .main .txt3 p { margin-bottom:78px; }
        .container .main .txt3 img { width:123px; }


/** footer **/
.container footer { width:100%; padding:30px 25px; box-sizing:border-box; font-size:14px; background-color:#f9f9f9; }
        .container footer ul { display:flex; }
            .container footer ul li { margin-right:25px; }
                .container footer ul li a { font-weight:bold; }
                .container footer ul li a:hover { text-decoration:underline; }
        .container footer .jyp_link { margin-bottom:30px; }
            .container footer .jyp_link li a { color:#0063e6; }
        
        .container footer p { text-align:left; }
        .container footer p:first-of-type { margin-bottom:20px; font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:400; line-height:1.5; }
            .container footer p:first-of-type span { color:#0063e6; }
        
        .container footer p:last-of-type { color:rgb(136, 136, 136); line-height:1.5; margin-bottom:30px; }
            .container footer p:last-of-type span { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:400; }


/**** PC ****/
@media (min-width:1280px) {
    /** header **/
    .container header { height:60px; background-color:rgba(255, 255, 255, 0.7); box-sizing:border-box; position:fixed; z-index:999; display:flex; }
        .container header h1 { background-size:cover; width:48px; height:48px; position:absolute; top:50%; left:217px; transform:translateY(-50%); }
            .container header h1 a, .container header h1 a img { display:block; width:100%; height:100%; }
        
        .container header .nav_PC { display:flex; width:30%; background-color:transparent; position:absolute; top:50%; left:280px; transform:translateY(-50%); z-index:999; }
            .container header .nav_PC li a { display:block; width:100%; padding:10px; margin-left:74px; box-sizing:border-box; font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:600; font-size:14px; text-align:left; transition:0.2s; }
            .container header .nav_PC li:first-child:hover a { color:#348ccc; }

        .container header .lang { display:flex; position:absolute; top:50%; right:217px; transform:translateY(-50%); }
            .container header .lang li { display:flex; justify-content:center; align-items:center; font-size:12px; font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:500; }
            .container header .lang li:after { content:"|"; margin:0 15px; font-weight:300; }
            .container header .lang li:last-child:after { display:none; }
                .container header .lang li a { display:block; transition:0.2s; }
                .container header .lang li:hover a { color:#348ccc; }
                .container header .lang li.on a { font-weight:600; color:#348ccc; }

        .container header .mobile_btn { display:none; }

    /** main **/
    .container .main section p { font-size:20px; }
    .container .main section .hidden { display:block; }

    /* main image */
    .container .main .main_img { height:612px; background:url(../images/sub_main2.jpg) no-repeat 50% 100%; background-size:cover;}
        .container .main .main_img h2 { font-size:80px; background:url(../images/underline.png) repeat-x 0 100%; }

    /* main txt */
    .container .main .txt1 { padding:168px 0 138px; box-sizing:border-box; background:url(../images/line.png) no-repeat 50% 100%; background-size:83px; }
        .container .main .txt1 h2 { font-size:50px; background-size:703px; margin-bottom:94px; }

        .container .main .txt1 > p:first-of-type, .container .main .txt1 > p:nth-of-type(2), .container .main .txt1 > p:nth-of-type(4) { display:none; }

        .container .main .txt1 .goal { display:flex; justify-content:center; align-items:center; margin:138px 0; }
            .container .main .txt1 .goal > div { margin:0; width:300px; height:300px; }
                .container .main .txt1 .goal > div p:first-of-type { font-size:25px; }
                .container .main .txt1 .goal > div p:last-of-type { font-size:17px; margin-top:10px; }
            .container .main .txt1 .goal .act { margin:0 60px; }
            .container .main .txt1 .goal .improve p:nth-of-type(2) { display:none; }
            .container .main .txt1 .goal .improve p:last-of-type { display:block; }

    .container .main .txt2 { padding:138px 0; box-sizing:border-box; background:url(../images/line.png) no-repeat 50% 100%; background-size:83px; }
        .container .main .txt2 p { margin-bottom:113px; }
        .container .main .txt2 p:first-of-type, .container .main .txt2 p:nth-of-type(2), .container .main .txt2 p:nth-of-type(3) { display:none; }
        .container .main .txt2 p:last-of-type { margin-bottom:0; }

    .container .main .txt3 { padding:138px 0; }
        .container .main .txt3 p:first-of-type { display:none; }
        .container .main .txt3 .hidden { display:block; margin-bottom:200px; }
        .container .main .txt3 img { width:270px; }

    /** footer **/
    .container footer { font-size:15.5px; padding:50px 235px; }
}

@media (min-width:1800px) {
    /* main txt */
    .container .main .txt1 .goal { position:relative; }
        .container .main .txt1 .goal > img { display:block; width:160px; position:absolute; top:50%; }
            .container .main .txt1 .goal > img:first-of-type { left:36%; }
            .container .main .txt1 .goal > img:last-of-type { right:36%; }
}